<div class="heading">
    <h1>New Gifts</h1>
    <p>Recent gifts you might win.</p>
</div>
{% if gift_transactions|length > 0 %}
<div class="card-container">
    {% for gift_transaction in gift_transactions %}
    <div class="card">
        <div class="gift-image">
            {% if gift_transaction.is_visible %}
            <img src="{{ gift_transaction.gift.image.url }}" alt="Gift image">
            {% else %}
            <img src="{% static 'images/search.png' %}" alt="Gift image">
            {% endif %}
        </div>
        <div class="gift-info">
            {% if gift_transaction.is_visible %}
            <h1>{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</h1>
            {% else %}
            <h1>Hidden Gift</h1>
            {% endif %}

            <div class="load">
                {% if gift_transaction.drop_rate > 0 %}
                {% if gift_transaction.is_due_for_drop %}
                <div class="bar" id="{{ gift_transaction.expire_bar_percent }}"></div>
                {% else %}
                <div class="bar" id="{{ gift_transaction.drop_bar_percent }}"></div>
                {% endif %}
                {% else %}
                <div class="bar" id="{{ gift_transaction.expire_bar_percent }}"></div>
                {% endif %}
            </div>

            {% if gift_transaction.drop_rate > 0 %}
            {% if gift_transaction.is_due_for_drop %}
            <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Expires"
                data-seconds="{{ gift_transaction.seconds_until_expire }}">Expires in --:--:--:--</p>
            {% else %}
            <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Drops"
                data-seconds="{{ gift_transaction.seconds_until_drop }}">Drops in --:--:--:--</p>
            {% endif %}
            {% else %}
            <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Expires"
                data-seconds="{{ gift_transaction.seconds_until_expire }}">Expires in --:--:--:--</p>
            {% endif %}

            <div class="tags">
                {% if gift_transaction.is_fastest_finger %}
                <p class="tag">Fastest Finger</p>
                {% endif %}

                {% if gift_transaction.cost > 0 and not gift_transaction.is_due_for_drop %}
                <p class="tag">Early Reveal</p>
                {% endif %}

                {% if request.user in gift_transaction.paid_users.all %}
                <p class="tag">Revealed Early</p>
                {% endif %}
            </div>

        </div>

        {% if not request.user in gift_transaction.reveals.all %}
        <a href="{% url 'reveal_gift' gift_transaction.id %}">Claim</a>
        {% else %}
        <a href="{% url 'reveal_gift' gift_transaction.id %}" style="background-color: #999;">Claimed</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% else %}
<div class="empty">
    <img src="{% static 'images/empty-box.png' %}" alt="No content image">
    <h1>Oops! Nothing in here right now.</h1>
    <a href="{% url 'all_gifts' %}">Refresh</a>
</div>
{% endif %}

<a href="{% url 'send_gift' %}" class="send">
    <img src="{% static 'images/giftbox (1).png' %}" alt="Send gift image">
    <p>Send Gift</p>
</a>

<script>
    function startCountdown(elementId) {
        const el = document.getElementById(elementId);
        let seconds = parseInt(el.dataset.seconds);
        let prefix = el.dataset.prefix;

        function update() {
            if (seconds < 0) return;

            let d = Math.floor(seconds / (24 * 3600));
            let h = Math.floor((seconds % (24 * 3600)) / 3600);
            let m = Math.floor((seconds % 3600) / 60);
            let s = seconds % 60;

            el.innerText = `${prefix} in ${d}d ${h}h ${m}m ${s}s`;

            seconds--;
            setTimeout(update, 1000);
        }

        update();
    }

    const timers = document.getElementsByClassName('timer');
    for (timer of timers) {
        startCountdown(`${timer.id}`);
    }

    const bars = document.getElementsByClassName('bar');
    for (bar of bars) {
        bar.style.width = `${bar.id}%`;
    }        
</script>








<div class="heading">
    <h1>Send Gift</h1>
    <p>Make a random person's day by sending them a gift.</p>
</div>
{% if gifts|length > 0 %}
<div class="card-container">
    {% for gift in gifts %}
    <div class="card">
        <div class="gift-image">
            <img src="{{ gift.image.url }}" alt="Gift image">
        </div>
        <div class="gift-info">
            <h1>{{ gift.name }}</h1>

            <div href="" class="cost">
                <p>{{ gift.cost|intcomma }}</p>
                <img src="{% static 'images/dollar.png' %}" alt="Gift image">
            </div>
        </div>

        <a href="{% url 'buy_gift' gift.id %}">Buy</a>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="empty">
    <img src="{% static 'images/empty-box.png' %}" alt="No content image">
    <h1>Oops! Nothing in here right now.</h1>
    <a href="{% url 'send_gift' %}">Refresh</a>
</div>
{% endif %}










<div class="heading">
    <h1>Buy Gift</h1>
    <p>Fill the form below to complete your purchase.</p>
</div>

<div class="buy">
    <div class="buy-sub">
        <div class="gift-info">
            <img src="{{ gift.gif.url }}" alt="Gift image">
            <h2>{{ gift.name }}</h2>
            <div href="" class="cost">
                <p>{{ gift.cost|intcomma }}</p>
                <img src="{% static 'images/dollar.png' %}" alt="Gift image">
            </div>
        </div>
        <form class="login-form" action="{% url 'buy_gift' gift.id %}" method="post" id="buyGiftForm">

            {% csrf_token %}
            {% for field in form %}
            {% if field.label == 'Fastest Finger (FF)' or field.label == 'Show Gift' %}
            {{ field }}
            <label for="{{ field.id_for_label }}" class="inline">{{ field.label }}</label>
            {% else %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% endif %}
            <p class="help">{{ field.help_text }}</p>


            {% endfor %}

            {% for key, errors in form.errors.items %}
            {% for error in errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
            {% endfor %}
            <button type="submit">
                <div class="cost">
                    <p id="button">Buy and Send for {{ gift.cost }}</p>
                    <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                </div>
            </button>
        </form>
    </div>
</div>


<!-- Modal (hidden by default) -->
<div id="coinModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="gift-info">
            <div class="gift-image">
                <img src="{% static 'images/dollar.gif' %}" alt="Gift image">
            </div>
            <h2>Not Enough Coins!</h2>
            <p style="text-align: center;  color: #444; font-size: .9rem;">You need <strong id="neededCoins"></strong>
                more coins to buy and send this gift.</p>

            <div class="coin-card-container">
                <div class="coin-card">
                    <div class="coin-image">
                        <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                    </div>
                    <div class="coin-info">
                        <p style="font-weight: bold; font-size: 1rem;">50 coins</p>
                    </div>

                    <a href="{% url 'buy_gift' gift.id %}">$10</a>
                </div>
                <div class="coin-card">
                    <div class="coin-image">
                        <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                    </div>
                    <div class="coin-info">
                        <p style="font-weight: bold; font-size: 1rem;">50 coins</p>
                    </div>

                    <a href="{% url 'buy_gift' gift.id %}">$10</a>
                </div>
                <div class="coin-card">
                    <div class="coin-image">
                        <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                    </div>
                    <div class="coin-info">
                        <p style="font-weight: bold; font-size: 1rem;">50 coins</p>
                    </div>

                    <a href="{% url 'buy_gift' gift.id %}">$10</a>
                </div>
                <div class="coin-card">
                    <div class="coin-image">
                        <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                    </div>
                    <div class="coin-info">
                        <p style="font-weight: bold; font-size: 1rem;">50 coins</p>
                    </div>

                    <a href="{% url 'buy_gift' gift.id %}">$10</a>
                </div>
                <div class="coin-card">
                    <div class="coin-image">
                        <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                    </div>
                    <div class="coin-info">
                        <p style="font-weight: bold; font-size: 1rem;">50 coins</p>
                    </div>

                    <a href="{% url 'buy_gift' gift.id %}">$10</a>
                </div>
                <div class="coin-card">
                    <div class="coin-image">
                        <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                    </div>
                    <div class="coin-info">
                        <p style="font-weight: bold; font-size: 1rem;">50 coins</p>
                    </div>

                    <a href="{% url 'buy_gift' gift.id %}">$10</a>
                </div>

            </div>
        </div>
        <!-- <button onclick="document.getElementById('coinModal').style.display='none'">
          Okay
        </button> -->
    </div>
</div>

<div class="success">
    <div class="signup-container">
        <img src="{{ gift_transaction.gift.gif.url }}" alt="Gift image">
        <div class="signup-form">
            <h2>Gift Sent Successfully</h2>
            <p>You have successfully sent {{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}
                to someone on Bixy.
            </p>
            <a href="{% url 'send_gift' %}">Send another gift</a>
        </div>
        <div class="links">
            <a href="{% url 'sent_gifts' %}">View sent gifts</a>
        </div>
    </div>
</div>










<div class="heading">
    <h1>My Profile</h1>
    <p>Everything about yourself you need to know.</p>
</div>

<div class="profile-container">
    <div class="profile-img">
        <img src="{{ request.user.profile_pic.image.url }}" alt="Profile Picture">
    </div>
    <div class="profile-info">
        <h2>{{ request.user.username }}</h2>
        <p>{{ request.user.email }}</p>
        {% if request.user.is_pending_deletion %}
        <p>Your account is scheduled to be permanently deleted in {{ request.user.days_until_deactivation }} day{{
            request.user.days_until_deactivation|pluralize }}.
            Click the "Cancel Deletion" button to cancel the deletion.
        </p>
        {% endif %}
        <div class="profile-links">
            <a href="{% url 'edit_profile' %}">Edit Profile</a>
            <a href="{% url 'change_password' %}">Change Password</a>
            {% if request.user.is_pending_deletion %}
            <a href="{% url 'cancel_deletion' %}" style="background-color: #28a745;">Cancel Deletion</a>
            {% else %}
            <a href="{% url 'delete_account' %}" style="background-color: red;">Delete Account</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="card-container">
    <div class="card prf">
        <div class="prf-image">
            <img src="{% static 'images/giftbox (1).png' %}" alt="Sent Gifts Image">
        </div>
        <h2>Sent Gifts</h2>
        <p>Gifts you sent to random players.</p>
        <div class="tags">
            <p class="tag">{{ sent|intcomma }} gift{{ sent|pluralize }}</p>
        </div>
        <a href="{% url 'sent_gifts' %}">View</a>
    </div>
    <div class="card prf">
        <div class="prf-image">
            <img src="{% static 'images/gift-box.png' %}" alt="Won Gifts Image">
        </div>
        <h2>Won Gifts</h2>
        <p>Gifts you revealed and won.</p>
        <div class="tags">
            <p class="tag">{{ won|intcomma }} gift{{ won|pluralize }}</p>
        </div>
        <a href="{% url 'won_gifts' %}">View</a>
    </div>
    <div class="card prf">
        <div class="prf-image">
            <img src="{% static 'images/empty-box.png' %}" alt="Lost Gifts Image">
        </div>
        <h2>Lost Gifts</h2>
        <p>Gifts you revealed but didn't win.</p>
        <div class="tags">
            <p class="tag">{{ lost|intcomma }} gift{{ lost|pluralize }}</p>
        </div>
        <a href="{% url 'lost_gifts' %}">View</a>
    </div>
    <div class="card prf">
        <div class="prf-image">
            <img src="{% static 'images/dollar.png' %}" alt="Coin Shop Image">
        </div>
        <h2>Coin Shop</h2>
        <p>Buy coins from the marketplace.</p>
        <div class="tags">
            <p class="tag">6 tiers</p>
        </div>
        <a href="">View</a>
    </div>
    <div class="card prf">
        <div class="prf-image">
            <img src="{% static 'images/wallet.png' %}" alt="Wallet Image">
        </div>
        <h2>Wallet</h2>
        <p>All your coins in one place.</p>
        <div class="tags">
            <p class="tag">{{ request.user.coins|intcomma }} coin{{request.user.coins|pluralize }}</p>
        </div>
        <a href="">View</a>
    </div>
</div>













<div class="heading">
    <h1>Edit Profile</h1>
    <p>Fill the form below to edit your profile.</p>
</div>

<div class="buy">
    <div class="buy-sub">

        <form class="login-form" action="{% url 'edit_profile' %}" method="post">

            {% csrf_token %}

            {% for field in form %}
            {% if field.label != 'Password' %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <p class="help"></p>

            {% for error in field.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
            {% endif %}
            {% endfor %}
            <button type="submit">Save Changes</button>
        </form>
        <div class="links">
            <a href="{% url 'change_profile_picture' %}">Change Profile Picture</a>
        </div>
    </div>
</div>












<div class="heading">
    <h1>Change Profile Picture</h1>
    <p>Update your profile picture.</p>
</div>
{% if profile_pictures|length > 0 %}
<div class="card-container">
    {% for picture in profile_pictures %}
    <div class="card">
        <div class="gift-image">
            <img src="{{ picture.image.url }}" alt="Gift image">
        </div>
        <div class="gift-info">
            <h1>{{ picture.name }}</h1>
        </div>

        <a href="{% url 'use_profile_picture' picture.id %}">Use</a>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="empty">
    <img src="{% static 'images/empty-box.png' %}" alt="No content image">
    <h1>Oops! Nothing in here right now.</h1>
    <a href="{% url 'change_profile_picture' %}">Refresh</a>
</div>
{% endif %}










<div class="heading">
    <h1>Change Password</h1>
    <p>Fill the form below to change your password.</p>
</div>

<div class="buy">
    <div class="buy-sub">

        <form class="login-form" action="{% url 'change_password' %}" method="post">

            {% csrf_token %}

            {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <p class="help"></p>

            {% for error in field.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
            {% endfor %}
            <button type="submit">Save Changes</button>
        </form>
    </div>
</div>









<div class="success">
    <form class="signup-container" action="{% url 'delete_account' %}" method="post">
        {% csrf_token %}
        <div class="signup-form">
            <h2>Delete Account</h2>
            <p>Deleting your account will schedule your account for permanent deletion in 30 days. You can
                cancel
                the deletion anytime before the grace period of 30 days is reached.
            </p>
            <button type="submit" style="background-color: red;">Delete Account</button>
        </div>
        <div class="links">
            <p><a href="{% url 'profile' %}">Back to Profile</a></p>
        </div>
    </form>
</div>









<div class="heading">
    <h1>Sent Gifts</h1>
    <p>Gifts you sent to random players.</p>
</div>
{% if gift_transactions|length > 0 %}
<div class="card-container">
    {% for gift_transaction in gift_transactions %}
    <div class="card">
        <div class="gift-image">
            <img src="{{ gift_transaction.gift.image.url }}" alt="Gift image">
        </div>
        <div class="gift-info">
            <h1>{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</h1>

            <div class="load">
                {% if gift_transaction.drop_rate > 0 %}
                {% if gift_transaction.is_due_for_drop %}
                <div class="bar" id="{{ gift_transaction.expire_bar_percent }}"></div>
                {% else %}
                <div class="bar" id="{{ gift_transaction.drop_bar_percent }}"></div>
                {% endif %}
                {% else %}
                <div class="bar" id="{{ gift_transaction.expire_bar_percent }}"></div>
                {% endif %}
            </div>

            {% if not gift_transaction.due_for_expire %}
            {% if gift_transaction.drop_rate > 0 %}
            {% if gift_transaction.is_due_for_drop %}
            <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Expires"
                data-seconds="{{ gift_transaction.seconds_until_expire }}">Expires in --:--:--:--</p>
            {% else %}
            <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Drops"
                data-seconds="{{ gift_transaction.seconds_until_drop }}">Drops in --:--:--:--</p>
            {% endif %}
            {% else %}
            <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Expires"
                data-seconds="{{ gift_transaction.seconds_until_expire }}">Expires in --:--:--:--</p>
            {% endif %}
            {% else %}
            <p>Expired</p>
            {% endif %}

            <div class="tags">
                {% if gift_transaction.is_fastest_finger %}
                <p class="tag">Fastest Finger</p>
                {% endif %}

                {% if gift_transaction.cost > 0 %}
                <p class="tag">Early Reveal</p>
                {% endif %}
            </div>

        </div>

        <a href="{% url 'view_gift_stats' gift_transaction.id %}">View Stats</a>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="empty">
    <img src="{% static 'images/empty-box.png' %}" alt="No content image">
    <h1>Oops! Nothing in here right now.</h1>
    <a href="{% url 'sent_gifts' %}">Refresh</a>
</div>
{% endif %}


<a href="{% url 'send_gift' %}" class="send">
    <img src="{% static 'images/giftbox (1).png' %}" alt="Send gift image">
    <p>Send Gift</p>
</a>









<div class="heading">
    <h1>Won Gifts</h1>
    <p>Active gifts you revealed and won.</p>
</div>
{% if gift_transactions|length > 0 %}
<div class="card-container">
    {% for gift_transaction in gift_transactions %}
    <div class="card">
        <div class="gift-image">
            <img src="{{ gift_transaction.gift.image.url }}" alt="Gift image">
        </div>
        <div class="gift-info">
            <h1>{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</h1>

            <div class="load">
                {% if gift_transaction.drop_rate > 0 %}
                {% if gift_transaction.is_due_for_drop %}
                <div class="bar" id="{{ gift_transaction.expire_bar_percent }}"></div>
                {% else %}
                <div class="bar" id="{{ gift_transaction.drop_bar_percent }}"></div>
                {% endif %}
                {% else %}
                <div class="bar" id="{{ gift_transaction.expire_bar_percent }}"></div>
                {% endif %}
            </div>

            {% if not gift_transaction.due_for_expire %}
            {% if gift_transaction.drop_rate > 0 %}
            {% if gift_transaction.is_due_for_drop %}
            <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Expires"
                data-seconds="{{ gift_transaction.seconds_until_expire }}">Expires in --:--:--:--</p>
            {% else %}
            <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Drops"
                data-seconds="{{ gift_transaction.seconds_until_drop }}">Drops in --:--:--:--</p>
            {% endif %}
            {% else %}
            <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Expires"
                data-seconds="{{ gift_transaction.seconds_until_expire }}">Expires in --:--:--:--</p>
            {% endif %}
            {% else %}
            <p>Expired</p>
            {% endif %}

            <div class="tags">
                {% if gift_transaction.is_fastest_finger %}
                <p class="tag">Fastest Finger</p>
                {% endif %}

                {% if gift_transaction.cost > 0 and not gift_transaction.is_due_for_drop %}
                <p class="tag">Early Reveal</p>
                {% endif %}

                {% if request.user in gift_transaction.paid_users.all %}
                <p class="tag">Revealed Early</p>
                {% endif %}
            </div>

        </div>

        <a href="{% url 'view_gift_stats' gift_transaction.id %}">View Stats</a>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="empty">
    <img src="{% static 'images/empty-box.png' %}" alt="No content image">
    <h1>Oops! Nothing in here right now.</h1>
    <a href="{% url 'won_gifts' %}">Refresh</a>
</div>
{% endif %}












<div class="heading">
    <h1>Lost Gifts</h1>
    <p>Active gifts you revealed but didn't win.</p>
</div>
{% if gift_transactions|length > 0 %}
<div class="card-container">
    {% for gift_transaction in gift_transactions %}
    <div class="card">
        <div class="gift-image">
            {% if gift_transaction.is_visible or gift_transaction.is_due_for_expire %}
            <img src="{{ gift_transaction.gift.image.url }}" alt="Gift image">
            {% else %}
            <img src="{% static 'images/search.png' %}" alt="Gift image">
            {% endif %}
        </div>
        <div class="gift-info">
            {% if gift_transaction.is_visible or gift_transaction.is_due_for_expire %}
            <h1>{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</h1>
            {% else %}
            <h1>Hidden Gift</h1>
            {% endif %}

            <div class="load">
                {% if gift_transaction.drop_rate > 0 %}
                {% if gift_transaction.is_due_for_drop %}
                <div class="bar" id="{{ gift_transaction.expire_bar_percent }}"></div>
                {% else %}
                <div class="bar" id="{{ gift_transaction.drop_bar_percent }}"></div>
                {% endif %}
                {% else %}
                <div class="bar" id="{{ gift_transaction.expire_bar_percent }}"></div>
                {% endif %}
            </div>

            {% if not gift_transaction.due_for_expire %}
            {% if gift_transaction.drop_rate > 0 %}
            {% if gift_transaction.is_due_for_drop %}
            <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Expires"
                data-seconds="{{ gift_transaction.seconds_until_expire }}">Expires in --:--:--:--</p>
            {% else %}
            <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Drops"
                data-seconds="{{ gift_transaction.seconds_until_drop }}">Drops in --:--:--:--</p>
            {% endif %}
            {% else %}
            <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Expires"
                data-seconds="{{ gift_transaction.seconds_until_expire }}">Expires in --:--:--:--</p>
            {% endif %}
            {% else %}
            <p>Expired</p>
            {% endif %}

            <div class="tags">
                {% if gift_transaction.is_fastest_finger %}
                <p class="tag">Fastest Finger</p>
                {% endif %}

                {% if gift_transaction.cost > 0 and not gift_transaction.is_due_for_drop %}
                <p class="tag">Early Reveal</p>
                {% endif %}

                {% if request.user in gift_transaction.paid_users.all %}
                <p class="tag">Revealed Early</p>
                {% endif %}
            </div>

        </div>

        <a href="{% url 'view_gift_stats' gift_transaction.id %}">View Stats</a>

    </div>
    {% endfor %}
</div>
{% else %}
<div class="empty">
    <img src="{% static 'images/empty-box.png' %}" alt="No content image">
    <h1>Oops! Nothing in here right now.</h1>
    <a href="{% url 'lost_gifts' %}">Refresh</a>
</div>
{% endif %}










<div class="heading">
    <h1>Gift Stats</h1>
    <p>Fill the form below to complete your purchase.</p>
</div>

<div class="buy">
    <div class="buy-sub">
        <div class="gift-info">
            {% if gift_transaction.gifter == request.user or gift_transaction.recipient == request.user %}
            <img src="{{ gift_transaction.gift.gif.url }}" alt="Gift image">
            <h2>{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</h2>
            {% elif gift_transaction.gifter != request.user and gift_transaction.recipient != request.user %}
            {% if gift_transaction.is_visible or gift_transaction.is_due_for_expire %}
            <img src="{{ gift_transaction.gift.gif.url }}" alt="Gift image">
            <h2>{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</h2>
            {% else %}
            <img src="{% static 'images/search.gif' %}" alt="Gift image">
            <h2>Hidden Gift</h2>
            <p>Gift will be visible when it expires.</p>
            {% endif %}
            {% endif %}
        </div>

        <div class="table-container">
            <h2>Gift Stats</h2>
            <table>
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Gifter</td>
                        <td>{{ gift_transaction.gifter.username }}</td>
                    </tr>
                    {% if gift_transaction.gifter == request.user or gift_transaction.recipient == request.user %}
                    <tr>
                        <td>Winner</td>
                        {% if gift_transaction.recipient %}
                        <td>{{ gift_transaction.recipient.username }}</td>
                        {% else %}
                        <td>--</td>
                        {% endif %}
                    </tr>
                    {% endif %}

                    {% if gift_transaction.gifter != request.user and gift_transaction.recipient != request.user and
                    gift_transaction.is_due_for_expire %}
                    <tr>
                        <td>Winner</td>
                        {% if gift_transaction.recipient %}
                        <td>{{ gift_transaction.recipient.username }}</td>
                        {% else %}
                        <td>--</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Dropped</td>
                        {% if gift_transaction.is_due_for_drop %}
                        <td><img src="{% static 'images/check.png' %}" alt="player status image" width="20" height="20">
                        </td>
                        {% else %}
                        <td><img src="{% static 'images/x-button.png' %}" alt="player status image" width="20"
                                height="20"></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Expired</td>
                        {% if gift_transaction.is_due_for_expire %}
                        <td><img src="{% static 'images/check.png' %}" alt="player status image" width="20" height="20">
                        </td>
                        {% else %}
                        <td><img src="{% static 'images/x-button.png' %}" alt="player status image" width="20"
                                height="20"></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Fastest Finger</td>
                        {% if gift_transaction.is_fastest_finger %}
                        <td><img src="{% static 'images/check.png' %}" alt="player status image" width="20" height="20">
                        </td>
                        {% else %}
                        <td><img src="{% static 'images/x-button.png' %}" alt="player status image" width="20"
                                height="20"></td>
                        {% endif %}
                    </tr>
                    {% if gift_transaction.gifter == request.user %}
                    <tr>
                        <td>Expire rate</td>
                        <td>{{ gift_transaction.expire_rate|intcomma }} hour{{ gift_transaction.expire_rate|pluralize }}
                        </td>
                    </tr>
                    <tr>
                        <td>Drop rate</td>
                        <td>{{ gift_transaction.drop_rate|intcomma }} hour{{ gift_transaction.drop_rate|pluralize }}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Early Reveal</td>
                        {% if gift_transaction.cost > 0 %}
                        <td><img src="{% static 'images/check.png' %}" alt="player status image" width="20" height="20">
                        </td>
                        {% else %}
                        <td><img src="{% static 'images/x-button.png' %}" alt="player status image" width="20"
                                height="20"></td>
                        {% endif %}
                    </tr>
                    {% if gift_transaction.cost > 0 %}
                    <tr>
                        <td>Early Reveal Cost</td>
                        <td>
                            <div class="cost td-content">
                                <p>{{ gift_transaction.cost|intcomma }}</p>
                                <img src="{% static 'images/dollar.png' %}" alt="Coin image">
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% if gift_transaction.cost > 0 and gift_transaction.gifter != request.user %}
                    <tr>
                        <td>Revealed Early</td>
                        {% if request.user in gift_transaction.paid_users.all %}
                        <td><img src="{% static 'images/check.png' %}" alt="player status image" width="20" height="20">
                        </td>
                        {% else %}
                        <td><img src="{% static 'images/x-button.png' %}" alt="player status image" width="20"
                                height="20"></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if gift_transaction.gifter == request.user %}
                    <tr>
                        <td>No of Reveals</td>
                        <td>{{ gift_transaction.reveals.all|length|intcomma }}</td>
                    </tr>
                    {% endif %}
                    {% if gift_transaction.cost > 0 and gift_transaction.gifter == request.user %}
                    <tr>
                        <td>No of Early Reveals</td>
                        <td>{{ gift_transaction.paid_users.all|length|intcomma }}</td>
                    </tr>
                    {% endif %}
                    {% if gift_transaction.gifter == request.user %}
                    <tr>
                        <td>Claimed</td>
                        {% if gift_transaction.is_claimed %}
                        <td><img src="{% static 'images/check.png' %}" alt="player status image" width="20" height="20">
                        </td>
                        {% else %}
                        <td><img src="{% static 'images/x-button.png' %}" alt="player status image" width="20"
                                height="20"></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        {% if gift_transaction.is_fastest_finger and gift_transaction.is_due_for_drop %}
        <div class="table-container">
            <h2>Top 5 Fastest Fingers</h2>
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Response Time</th>
                    </tr>
                </thead>

                <tbody>
                    {% for claim in gift_transaction.ff_claims.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ claim.user.username }}</td>
                        <td>{{ claim.reaction_time_ms|format_seconds }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>








<div class="buy">
    <div class="buy-sub">
        <div class="gift-info">
            <img src="{% static 'images/dollar.gif' %}" alt="Gift image">
            <h2>Not Enough Coins!</h2>
            <p style="text-align: center;  color: #444; font-size: .9rem;">You need <strong>{{ rem_amount|intcomma
                    }}</strong>
                more coins to {{ message }}.</p>
            <!-- <div style="text-align: center;">
                You need             
                <div class="cost inline">
                    <p>{{ total_cost|intcomma }}</p>
                    <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                </div>
                to buy {{ quantity|intcomma }}x {{ gift.name }} but only have 
                <div class="cost inline">
                    <p>{{ request.user.coins|intcomma }}</p>
                    <img src="{% static 'images/dollar.png' %}" alt="Gift image">.
                </div>
                Buy more coins to buy and send this gift.
            </div> -->
        </div>
    </div>
</div>










<div class="reveal-container">
    <div class="heading">
        <p>Oops!</p>
        <h1>Too Early</h1>
    </div>
    {% if gift_transaction.is_visible %}
    <img src="{{ gift_transaction.gift.gif.url }}" alt="Gift image" style="margin: 2rem 0;">
    <h1>{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</h1>
    <p class="msg">This gift from {{ gift_transaction.gifter.username }} has not dropped yet and you cannot claim it.
    </p>
    {% else %}
    <img src="{% static 'images/search.gif' %}" alt="Gift image" style="margin: 2rem 0;">
    <h1>Gift Hidden</h1>
    <p class="msg">This gift from {{ gift_transaction.gifter.username }} has not dropped yet and you cannot claim or see
        it.</p>
    {% endif %}
    <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Try again"
        data-seconds="{{ gift_transaction.seconds_until_drop }}" style="margin-bottom: .5rem;">Try again in --:--:--:--
    </p>
    <a href="{% url 'reveal_gift' gift_transaction.id %}">Try again</a>
    {% if gift_transaction.cost > 0 and not gift_transaction.is_fastest_finger and not gift_transaction.is_due_for_drop
    and request.user not in gift_transaction.paid_users.all %}
    <a href="{% url 'reveal_early' gift_transaction.id %}" id="earlyButton" style="margin: .5rem 0 1rem 0;">
        <div class="cost">
            <p>Claim now for {{ gift_transaction.cost|intcomma }}</p>
            <img src="{% static 'images/dollar.png' %}" alt="Gift image">
        </div>
    </a>
    {% endif %}
    <a href="{% url 'view_gift_stats' gift_transaction.id %}" style="margin: .5rem 0 1rem 0;">View Stats</a>
    <!-- <a href="{% url 'all_gifts' %}">Browse more gifts</a> -->
</div>


<div id="coinModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="gift-info">
            <div class="gift-image">
                <img src="{% static 'images/dollar.gif' %}" alt="Gift image">
            </div>
            <h2>Not Enough Coins!</h2>
            <p style="text-align: center;  color: #444; font-size: .9rem;">You need <strong id="neededCoins"></strong>
                more coins to reveal this gift early.</p>

            <div class="coin-card-container">
                <div class="coin-card">
                    <div class="coin-image">
                        <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                    </div>
                    <div class="coin-info">
                        <p style="font-weight: bold; font-size: 1rem;">50 coins</p>
                    </div>

                    <a href="">$10</a>
                </div>
                <div class="coin-card">
                    <div class="coin-image">
                        <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                    </div>
                    <div class="coin-info">
                        <p style="font-weight: bold; font-size: 1rem;">50 coins</p>
                    </div>

                    <a href="">$10</a>
                </div>
                <div class="coin-card">
                    <div class="coin-image">
                        <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                    </div>
                    <div class="coin-info">
                        <p style="font-weight: bold; font-size: 1rem;">50 coins</p>
                    </div>

                    <a href="">$10</a>
                </div>
                <div class="coin-card">
                    <div class="coin-image">
                        <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                    </div>
                    <div class="coin-info">
                        <p style="font-weight: bold; font-size: 1rem;">50 coins</p>
                    </div>

                    <a href="">$10</a>
                </div>
                <div class="coin-card">
                    <div class="coin-image">
                        <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                    </div>
                    <div class="coin-info">
                        <p style="font-weight: bold; font-size: 1rem;">50 coins</p>
                    </div>

                    <a href="">$10</a>
                </div>
                <div class="coin-card">
                    <div class="coin-image">
                        <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                    </div>
                    <div class="coin-info">
                        <p style="font-weight: bold; font-size: 1rem;">50 coins</p>
                    </div>

                    <a href="">$10</a>
                </div>

            </div>
        </div>
        <!-- <button onclick="document.getElementById('coinModal').style.display='none'">
                Okay
            </button> -->
    </div>
</div>

<canvas id="sparkleCanvas"></canvas>









<div class="reveal-container">
    {% if is_winner %}
    <div class="heading">
        <p>Congratulations!</p>
        <h1>You Won</h1>
    </div>
    <img src="{{ gift_transaction.gift.gif.url }}" alt="Gift image" style="margin: 2rem 0;">
    <h1>{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</h1>
    <p class="msg">Hi {{ request.user.username }}, you have recieved {{ gift_transaction.quantity|intcomma }}x {{
        gift_transaction.gift.name }} from {{ gift_transaction.gifter.username }}.</p>
    {% else %}
    <div class="heading">
        <p>Sorry!</p>
        <h1>You Lost</h1>
    </div>
    {% if gift_transaction.is_visible %}
    <img src="{{ gift_transaction.gift.gif.url }}" alt="Gift image" style="margin: 2rem 0;">
    <h1>{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</h1>
    <p class="msg">Hi {{ request.user.username }}, you did not recieve this gift from {{
        gift_transaction.gifter.username }}.</p>
    {% else %}
    <img src="{% static 'images/search.gif' %}" alt="Gift image" style="margin: 2rem 0;">
    <h1>Gift Hidden</h1>
    <p class="msg">Hi {{ request.user.username }}, you did not recieve this gift from {{
        gift_transaction.gifter.username }} and cannot claim or see it.</p>
    {% endif %}
    {% endif %}
    <a href="{% url 'all_gifts' %}">Browse more gifts</a>
    <a href="{% url 'view_gift_stats' gift_transaction.id %}" style="margin: .5rem 0 1rem 0;">View Stats</a>
</div>







<div class="reveal-container">
    {% if is_winner %}
    <div class="heading">
        <p>Congratulations!</p>
        <h1>Fastest Finger</h1>
    </div>
    <img src="{{ gift_transaction.gift.gif.url }}" alt="Gift image" style="margin: 2rem 0;">
    <h1>{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</h1>
    <p class="msg">Hi {{ request.user.username }}, you successfully claimed {{ gift_transaction.quantity|intcomma }}x {{
        gift_transaction.gift.name }} from {{ gift_transaction.gifter.username }} in {{
        gift_transaction.ff_claims.first.reaction_time_ms|format_seconds }}.</p>
    {% else %}
    <div class="heading">
        <p>Sorry!</p>
        <h1>Too Late</h1>
    </div>
    <img src="{{ gift_transaction.gift.gif.url }}" alt="Gift image" style="margin: 2rem 0;">
    <h1>{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</h1>
    <p class="msg">Hi {{ request.user.username }}, {{ gift_transaction.recipient.username }} already claimed this gift
        from {{ gift_transaction.gifter.username }} in {{
        gift_transaction.ff_claims.first.reaction_time_ms|format_seconds }}.</p>
    {% endif %}
    <a href="{% url 'all_gifts' %}">Browse more gifts</a>
    <a href="{% url 'view_gift_stats' gift_transaction.id %}" style="margin: .5rem 0 1rem 0;">View Stats</a>
</div>
</section>
<canvas id="sparkleCanvas"></canvas>







<div class="success">
    <div class="signup-container">
        <img src="{% static 'images/x-button.png' %}" alt="Gift image">
        <div class="signup-form">
            <h2>{{ title }}</h2>
            <p>{{ message }}</p>
            <a href="{% url 'all_gifts' %}">Back to home</a>
        </div>
    </div>
</div>