* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --background-color: white;
    /* --background-color: rgb(240, 235, 235); */
    --text-color: black;
    --button-color: #667eea;
    --link-color: #667eea;
    /* --button-color: #6f42c1;
    --link-color: #6f42c1; */
    --button-hover-color: #7f53d2;
}

/* .dark-mode {
    --background-color: black;
    --text-color: white;
} */


body {
    background: var(--background-color);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.success {
    display: block;
    background: var(--background-color);
    height: auto;
}

.refsuc {
    background: var(--background-color);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    background: var(--background-color);
    padding: 2rem;
    border-radius: 15px;
    width: 100%;
    max-width: 450px;
    margin: 2em 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

.signup-form h2 {
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.signup-form p {
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

.signup-form label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: bold;
    color: #555;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="number"],
.signup-form input[type="url"],
select,
textarea {
    width: 100%;
    padding: 0.75rem;
    /* margin-bottom: 1.2rem; */
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    transition: border-color 0.3s;
}

.signup-form label.inline {
    display: inline-block;
    margin-bottom: .8em;
}

.signup-form input:focus,
textarea:focus,
select:focus {
    border-color: #6f42c1;
    outline: none;
}

.show-password {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    font-size: 0.9rem;
    color: #555;
}

.show-password input {
    margin-right: 0.5rem;
}

.signup-form button {
    width: 100%;
    padding: 0.75rem;
    /* background: #6f42c1; */
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s;
}

.signup-form button.del {
    background: red;
}

.signup-form button.verify {
    background: var(--button-color);
}

.links {
    /* margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem; */
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.links a {
    color: var(--button-color);
    text-decoration: none;
    transition: color 0.2s;
}

li,
p.error {
    list-style-type: none;
    background-color: rgb(243, 203, 203);
    color: red;
    padding: 1em;
    box-sizing: border-box;
    font-size: .9em;
    border-radius: .3em;
    margin-bottom: 1em;
}

p.help {
    color: #444;
    font-size: .9em;
    margin-bottom: 1rem;
}


@media (max-width: 500px) {
    body {
        background: var(--background-color);
    }

    .signup-container {
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }
}

