<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load humanize %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'mail.css' %}">
</head>

<body>
    <div class="page">
        <div class="header">
            <h1>Bixy</h1>
        </div>

        <div class="content">

            <div class="payintro">
                <h3 class="payheader">
                    New Gift on Bixy!
                </h3>
               <p>Hi {{ user.username }}, someone just dropped a new gift on Bixy.
                    <a href="https://giftrepo.onrender.com/signin/">Login</a>
                    to view and claim it before it expires.
                </p>
                <!-- <h2>₦{{ coin_purchase.amount|intcomma }}</h2> -->
            </div>

            <!-- <p class="help">
                Need help with your order? Contact support at <a href="mailto:swsupport@gmail.com">swsupport@gmail.com</a>
            </p> -->

            <p class="small">
                You received this mandatory email service announcement to update you about important changes to your
                Bixy account.
            </p>

            <div class="logo">
                <p class="small">Bixy Online Services</p>
            </div>
        </div>
    </div>
</body>

</html>
