<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  {% load humanize %}
  {% load timefilters %}

  {% block title %} {% endblock %}

  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <!-- <script>
    if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/service-worker.js')
      .then(reg => alert(`Service Worker registered: ${reg}`))
      .catch(err => alert(`Service Worker failed: ${err}`));
  }
    </script> -->

  <!-- <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
    <script>
  
    if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/OneSignalSDKWorker.js')
        .then(reg => {
          alert(`OS Service Worker registered: ${reg}`);
          window.OneSignalDeferred = window.OneSignalDeferred || [];
          OneSignalDeferred.push(async function(OneSignal) {
          await OneSignal.init({
          appId: "4fcc438a-3f0a-4dbc-b59d-4d185994a301",
          safari_web_id: "web.onesignal.auto.5f176c09-6482-49c9-87ea-0c57aa3981a0",
          notifyButton: {
          enable: true,
          },
         });
      });
      })
      .catch(err => alert(`OS Service Worker failed: ${err}`));
    }
    </script> -->
</head>

<body>
  <nav class="navbar">
    <div class="logo-container" role="link" tabindex="0">
      <!-- <img src="https://cdn-icons-png.flaticon.com/512/906/906334.png" alt="Logo" class="logo-image" /> -->
      <a href="{% url 'all_gifts' %}" class="logo-text">Bixy</a>
    </div>

    <div class="profile-section" id="profileSection">
      {% if user.is_authenticated %}
      <a href="{% url 'buy_coins' %}" style="text-decoration: none; color: black;">
        <div class="cost">
          <p>{{ user.coins|intcomma }}</p>
          <img src="{% static 'images/dollar.png' %}" alt="Gift image">
        </div>
      </a>
      <a href="{% url 'buy_coins' %}" style="text-decoration: none; color: black;">
        <div class="cost">
          <p>{{ user.keys|intcomma }}</p>
          <img src="{% static 'images/key.png' %}" alt="Gift image">
        </div>
      </a>


      <a href="{% url 'profile' %}">
        <img src="{{ user.profile_pic.image.url }}" alt="Profile picture" class="profile-pic" />
      </a>
      {% else %}
      <a href="{% url 'signin' %}" class="btn login">Login</a>
      <a href="{% url 'signup' %}" class="btn signup">Sign Up</a>
      {% endif %}
    </div>
  </nav>

  {% if gift_transactions|length > 0 %}
  <div class="container">
    <div class="inner" id="scrollArea">

      {% for gift_transaction in gift_transactions %}
      <div class="slide normal"
        style="background: {% cycle 'linear-gradient(135deg, #7f53d2, black)' 'linear-gradient(135deg, mediumspringgreen, black)' 'linear-gradient(135deg, #f1306d, black)' 'linear-gradient(135deg, midnightblue, black)' 'linear-gradient(135deg, mediumaquamarine, black)' %};">
        {% if gift_transaction.is_visible %}
        <img src="{{ gift_transaction.gift.image.url }}" alt="Gift image">
        {% else %}
        <img src="{% static 'images/search.png' %}" alt="Gift image">
        {% endif %}

        {% if gift_transaction.is_visible %}
        <div class="title">{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</div>
        {% else %}
        <div class="title">Hidden Gift</div>
        {% endif %}

        {% if gift_transaction.drop_rate > 0 %}
        {% if gift_transaction.is_due_for_drop %}
        <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Expires"
          data-seconds="{{ gift_transaction.seconds_until_expire }}">Expires in --:--:--:--</p>
        {% else %}
        <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Drops"
          data-seconds="{{ gift_transaction.seconds_until_drop }}">Drops in --:--:--:--</p>
        {% endif %}
        {% else %}
        <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Expires"
          data-seconds="{{ gift_transaction.seconds_until_expire }}">Expires in --:--:--:--</p>
        {% endif %}

        <div class="tags" style="justify-content: center;">
          {% if gift_transaction.is_fastest_finger %}
          <p class="tag">Fastest Finger</p>
          {% endif %}

          {% if gift_transaction.early_claim_fee > 0 and not gift_transaction.is_due_for_drop %}
          <p class="tag">Early Claim</p>
          {% endif %}

          {% if request.user in gift_transaction.paid_users.all %}
          <p class="tag">Claimed Early</p>
          {% endif %}
        </div>

        <a class="cta-btn" href="{% url 'reveal_gift' gift_transaction.id %}">
          <div class="cost wh">
            <p>{{ gift_transaction.claim_fee|intcomma }}</p>
            <img src="{% static 'images/key.png' %}" alt="Gift image">
          </div>
        </a>
      </div>
      {% endfor %}

    </div>
  </div>
  {% else %}
  <div class="empty">
    <img src="{% static 'images/empty-box.png' %}" alt="No content image">
    <h1>Feels Empty Here.</h1>
    <a href="{% url 'all_gifts' %}">Refresh</a>
  </div>
  {% endif %}



  <a href="{% url 'send_gift' %}" class="send">
    <img src="{% static 'images/giftbox (1).png' %}" alt="Send gift image">
    <p>Send Gift</p>
  </a>

  <script src="{% static 'scripts/timer.js' %}"></script>

  <script src="{% static 'scripts/swipe.js' %}"></script>
</body>

</html>
