<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    {% load humanize %}
    {% load timefilters %}

    {% block title %} {% endblock %}
    <link rel="manifest" href="/manifest.json">
    <script>
    if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/service-worker.js')
      .then(reg => console.log(`Service Worker registered: ${reg}`))
      .catch(err => console.log(`Service Worker failed: ${err}`));
  }
    </script>
</head>

<body>
    <nav class="navbar">
        <div class="logo-container" role="link" tabindex="0">
            <!-- <img src="https://cdn-icons-png.flaticon.com/512/906/906334.png" alt="Logo" class="logo-image" /> -->
            <a href="{% url 'all_gifts' %}" class="logo-text">Bixy</a>
        </div>

        <div class="profile-section" id="profileSection">
            
            {% if request.user.is_authenticated %}
            <a href="{% url 'buy_coins' %}" style="text-decoration: none; color: black;">
                <div class="cost">
                    <p>{{ request.user.coins|intcomma }}</p>
                    <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                </div>
            </a>
            <a href="{% url 'profile' %}">
                <img src="{{ request.user.profile_pic.image.url }}" alt="Profile picture" class="profile-pic" />
            </a>
            {% else %}
            <a href="{% url 'signin' %}" class="btn login">Login</a>
            <a href="{% url 'signup' %}" class="btn signup">Sign Up</a>
            {% endif %}
            
        </div>
    </nav>


    <main>
        <section>
            {% block body %} {% endblock %}
        </section>
    </main>

    {% block other %} {% endblock %}

    {% block scripts %} {% endblock %}

</body>

</html>
