<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    {% load humanize %}
    {% load timefilters %}

    {% block title %} {% endblock %}
    <link rel="manifest" href="/manifest.json">
    <script>
    if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/service-worker.js')
      .then(reg => console.log(`Service Worker registered: ${reg}`))
      .catch(err => console.log(`Service Worker failed: ${err}`));
  }
    </script>
    <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
    <script>
  window.OneSignalDeferred = window.OneSignalDeferred || [];
  OneSignalDeferred.push(async function(OneSignal) {
    await OneSignal.init({
      appId: "4fcc438a-3f0a-4dbc-b59d-4d185994a301",
      safari_web_id: "web.onesignal.auto.5f176c09-6482-49c9-87ea-0c57aa3981a0",
      notifyButton: {
        enable: true,
      },
    });
  });

    if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/OneSignalSDKWorker.js')
      .then(reg => console.log(`OS Service Worker registered: ${reg}`))
      .catch(err => console.log(`OS Service Worker failed: ${err}`));
    }
    </script>
</head>

<body>
    <nav class="navbar">
        <div class="logo-container" role="link" tabindex="0">
            <!-- <img src="https://cdn-icons-png.flaticon.com/512/906/906334.png" alt="Logo" class="logo-image" /> -->
            <a href="{% url 'all_gifts' %}" class="logo-text">Bixy</a>
        </div>

        <div class="profile-section" id="profileSection">
            
            {% if request.user.is_authenticated %}
            <a href="{% url 'buy_coins' %}" style="text-decoration: none; color: black;">
                <div class="cost">
                    <p>{{ request.user.coins|intcomma }}</p>
                    <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                </div>
            </a>
            <a href="{% url 'buy_coins' %}" style="text-decoration: none; color: black;">
                <div class="cost">
                    <p>{{ request.user.keys|intcomma }}</p>
                    <img src="{% static 'images/key.png' %}" alt="Gift image">
                </div>
            </a>


            <a href="{% url 'profile' %}">
                <img src="{{ request.user.profile_pic.image.url }}" alt="Profile picture" class="profile-pic" />
            </a>
            {% else %}
            <a href="{% url 'signin' %}" class="btn login">Login</a>
            <a href="{% url 'signup' %}" class="btn signup">Sign Up</a>
            {% endif %}
            
        </div>
    </nav>


    <main>
        <section>
            {% block body %} {% endblock %}
            <button id="themebtn">Switch</button>
            <div class='onesignal-customlink-container'></div>
        </section>
    </main>

    {% block other %} {% endblock %}

    {% block scripts %} {% endblock %}

    <script>
        const body = document.body;
        const btn = document.getElementById('themebtn');

        // Load saved theme (if any)
        const theme = localStorage.getItem('theme');
        console.log(theme)
        if (!theme) {
            localStorage.setItem('theme', 'light')
        } else {
            if (theme === 'dark') {
                body.classList.add('dark-mode');
            } else {
                body.classList.remove('dark-mode');
            }
        }
        
        // Toggle theme
        btn.addEventListener('click', () => {
            body.classList.toggle('dark-mode')
            // Save preference
            const isDark = body.classList.contains('dark-mode');
            localStorage.setItem('theme', isDark ? 'dark' : 'light')
        })

        
    </script>
</body>

</html>
