{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load timefilters %}

{% block title %}
<title>Buy Coins - Bixy</title>
<link rel="stylesheet" href="{% static 'css/all_gifts.css' %}">
<script src="https://checkout.flutterwave.com/v3.js"></script>
{% endblock %}


{% block body %}
<div class="success">
    <div class="signup-container" style="padding: 0; box-shadow: none;">
        <div class="gift-info">
            <div class="gift-image">
                <img src="{% static 'images/dollar.gif' %}" alt="Gift image">
            </div>
            <h2>Buy Coins.</h2>
            <p style="text-align: center;  color: #444; font-size: .9rem;">Buy coins to send and claim gifts on Bixy.
            </p>

            {% include 'coin_tier.html' %}

            <div class="gift-info">
                <div class="gift-image">
                    <img src="{% static 'images/key.gif' %}" alt="Gift image">
                </div>
                <h2>Get Keys.</h2>
                <p style="text-align: center;  color: #444; font-size: .9rem;"> Watch Ads to get keys on Bixy.</p>
            </div>

            <a href="" style="text-decoration: none; font-weight: bold; color: white; background-color: rebeccapurple; border-radius: .4em; padding: .7em; font-size: .9em; margin-bottom: 1em; margin-top: -.3em;">
                Watch Ad
            </a>

            <p style="font-size: small; text-align: center; color: #444;">
                All purchased coins and keys expire after the season. Be sure to spend all coins and keys before the
                season ends.
            </p>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const nameValue = "{{ request.user.username }}";
    const emailValue = "{{ request.user.email }}";
</script>
<script src="{% static 'scripts/checkout.js' %}"></script>
{% endblock %}