{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load timefilters %}

{% block title %}
<title>Buy Gift - Bixy</title>
<link rel="stylesheet" href="{% static 'css/all_gifts.css' %}">
<script src="https://checkout.flutterwave.com/v3.js"></script>
{% endblock %}


{% block body %}
<div class="heading">
    <h1>Send Gift</h1>
    <p>Fill the form below to complete your purchase.</p>
</div>

<div class="buy">
    <div class="buy-sub">
        <div class="gift-info">
            <img src="{{ gift.gif.url }}" alt="Gift image">
            <h2>{{ gift.name }}</h2>
            <div href="" class="cost">
                <p>{{ gift.cost|intcomma }}</p>
                <img src="{% static 'images/dollar.png' %}" alt="Gift image">
            </div>
        </div>
        <form class="login-form" action="{% url 'buy_gift' gift.id %}" method="post" id="buyGiftForm">

            {% csrf_token %}
            {% for field in form %}
            {% if field.label == 'Fastest Finger (FF)' or field.label == 'Show Gift' %}
            {{ field }}
            <label for="{{ field.id_for_label }}" class="inline">{{ field.label }}</label>
            {% else %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% endif %}
            <p class="help">{{ field.help_text }}</p>


            {% endfor %}

            {% for key, errors in form.errors.items %}
            {% for error in errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
            {% endfor %}
            <button type="submit">
                <div class="cost">
                    <p id="button">Send for {{ gift.cost }}</p>
                    <img src="{% static 'images/dollar.png' %}" alt="Gift image">
                </div>
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block other %}
<!-- Modal (hidden by default) -->
<div id="coinModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="gift-info">
            <div class="gift-image">
                <img src="{% static 'images/dollar.gif' %}" alt="Gift image">
            </div>
            <h2>Not Enough Coins!</h2>
            <p style="text-align: center;  color: #444; font-size: .9rem;">You need <strong id="neededCoins"></strong>
                more coins to send this gift.</p>

            {% include 'coin_tier.html' %}
        </div>
        <!-- <button onclick="document.getElementById('coinModal').style.display='none'">
          Okay
        </button> -->
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  let cost = "{{ gift.cost }}";
  const userCoins = parseInt("{{ request.user.coins }}");  
</script>
<script src="{% static 'scripts/buygift.js' %}"></script>

<script>
    const nameValue = "{{ request.user.username }}";
    const emailValue = "{{ request.user.email }}";
</script>
<script src="{% static 'scripts/checkout.js' %}"></script>
{% endblock %}
