{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load timefilters %}

{% block title %}
<title>New Gifts - Bixy</title>
<link rel="stylesheet" href="{% static 'css/all_gifts.css' %}">
{% endblock %}


{% block body %}
<div class="heading">
    <h1>Change Password</h1>
    <p>Fill the form below to change your password.</p>
</div>

<div class="buy">
    <div class="buy-sub">
        <form class="login-form" action="{% url 'change_password' %}" method="post">
            {% csrf_token %}

            {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <p class="help"></p>

            {% for error in field.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
            {% endfor %}
            <button type="submit">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}
