{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load timefilters %}

{% block title %}
<title>New Gifts - Bixy</title>
<link rel="stylesheet" href="{% static 'css/all_gifts.css' %}">
{% endblock %}


{% block body %}
<div class="heading">
    <h1>Change Profile Picture</h1>
    <p>Update your profile picture.</p>
</div>
{% if profile_pictures|length > 0 %}
<div class="card-container">
    {% for picture in profile_pictures %}
    <div class="card">
        <div class="gift-image">
            <img src="{{ picture.image.url }}" alt="Gift image">
        </div>
        <div class="gift-info">
            <h1>{{ picture.name }}</h1>
        </div>

        <a href="{% url 'use_profile_picture' picture.id %}">Use</a>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="empty">
    <img src="{% static 'images/empty-box.png' %}" alt="No content image">
    <h1>Feels Empty Here.</h1>
    <a href="{% url 'change_profile_picture' %}">Refresh</a>
</div>
{% endif %}
{% endblock %}
