{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load timefilters %}

{% block title %}
<title>Error - Bixy</title>
<link rel="stylesheet" href="{% static 'css/reveal.css' %}">
{% endblock %}


{% block body %}
<div class="success">
    <div class="signup-container">
        <img src="{% static 'images/x-button.png' %}" alt="Gift image">
        <div class="signup-form">
            <h2>{{ title }}</h2>
            <p>{{ message }}</p>
            <a href="{% url 'all_gifts' %}">Back to home</a>
        </div>
    </div>
</div>
{% endblock %}
