{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load timefilters %}

{% block title %}
<title>Gift Stats - Bixy</title>
<link rel="stylesheet" href="{% static 'css/all_gifts.css' %}">
{% endblock %}


{% block body %}
<div class="heading">
    <h1>Gift Stats</h1>
    <p>Information about this gift.</p>
</div>

<div class="buy">
    <div class="buy-sub">
        <div class="gift-info">
            {% if gift_transaction.gifter == request.user or gift_transaction.recipient == request.user %}
            <img src="{{ gift_transaction.gift.gif.url }}" alt="Gift image">
            <h2>{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</h2>
            {% elif gift_transaction.gifter != request.user and gift_transaction.recipient != request.user %}
            {% if gift_transaction.is_visible or gift_transaction.is_due_for_expire %}
            <img src="{{ gift_transaction.gift.gif.url }}" alt="Gift image">
            <h2>{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</h2>
            {% else %}
            <img src="{% static 'images/search.gif' %}" alt="Gift image">
            <h2>Hidden Gift</h2>
            <p>Gift will be visible when it expires.</p>
            {% endif %}
            {% endif %}
        </div>

        <div class="table-container">
            <h2>Gift Stats</h2>
            <table>
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Gifter</td>
                        <td>{{ gift_transaction.gifter.username }}</td>
                    </tr>
                    {% if gift_transaction.gifter == request.user or gift_transaction.recipient == request.user %}
                    <tr>
                        <td>Winner</td>
                        {% if gift_transaction.recipient %}
                        <td>{{ gift_transaction.recipient.username }}</td>
                        {% else %}
                        <td>--</td>
                        {% endif %}
                    </tr>
                    {% endif %}

                    {% if gift_transaction.gifter != request.user and gift_transaction.recipient != request.user and gift_transaction.is_due_for_expire %}
                    <tr>
                        <td>Winner</td>
                        {% if gift_transaction.recipient %}
                        <td>{{ gift_transaction.recipient.username }}</td>
                        {% else %}
                        <td>--</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Dropped</td>
                        {% if gift_transaction.is_due_for_drop %}
                        <td><img src="{% static 'images/check.png' %}" alt="player status image" width="20" height="20">
                        </td>
                        {% else %}
                        <td><img src="{% static 'images/x-button.png' %}" alt="player status image" width="20"
                                height="20"></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Expired</td>
                        {% if gift_transaction.is_due_for_expire %}
                        <td><img src="{% static 'images/check.png' %}" alt="player status image" width="20" height="20">
                        </td>
                        {% else %}
                        <td><img src="{% static 'images/x-button.png' %}" alt="player status image" width="20"
                                height="20"></td>
                        {% endif %}
                    </tr>
                    {% if gift_transaction.gifter == request.user %}
                    <tr>
                        <td>Visible</td>
                        {% if gift_transaction.is_visible %}
                        <td><img src="{% static 'images/check.png' %}" alt="player status image" width="20" height="20">
                        </td>
                        {% else %}
                        <td><img src="{% static 'images/x-button.png' %}" alt="player status image" width="20"
                                height="20"></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Fastest Finger</td>
                        {% if gift_transaction.is_fastest_finger %}
                        <td><img src="{% static 'images/check.png' %}" alt="player status image" width="20" height="20">
                        </td>
                        {% else %}
                        <td><img src="{% static 'images/x-button.png' %}" alt="player status image" width="20"
                                height="20"></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Claim Fee</td>
                        <td>
                            <div class="cost td-content">
                                <p>{{ gift_transaction.claim_fee|intcomma }}</p>
                                <img src="{% static 'images/key.png' %}" alt="Coin image">
                            </div>
                        </td>
                    </tr>
                    {% if gift_transaction.gifter != request.user %}
                    <tr>
                        <td>Claimed</td>
                        {% if request.user in gift_transaction.reveals.all %}
                        <td><img src="{% static 'images/check.png' %}" alt="player status image" width="20" height="20">
                        </td>
                        {% else %}
                        <td><img src="{% static 'images/x-button.png' %}" alt="player status image" width="20"
                                height="20"></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if gift_transaction.gifter == request.user %}
                    <tr>
                        <td>Expire rate</td>
                        <td>{{ gift_transaction.expire_rate|intcomma }} hour{{ gift_transaction.expire_rate|pluralize }}
                        </td>
                    </tr>
                    <tr>
                        <td>Drop rate</td>
                        <td>{{ gift_transaction.drop_rate|intcomma }} hour{{ gift_transaction.drop_rate|pluralize }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if not gift_transaction.is_fastest_finger %}
                    <tr>
                        <td>Early Claim</td>
                        {% if gift_transaction.early_claim_fee > 0 %}
                        <td><img src="{% static 'images/check.png' %}" alt="player status image" width="20" height="20">
                        </td>
                        {% else %}
                        <td><img src="{% static 'images/x-button.png' %}" alt="player status image" width="20"
                                height="20"></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if gift_transaction.early_claim_fee > 0 %}
                    <tr>
                        <td>Early Claim Fee</td>
                        <td>
                            <div class="cost td-content">
                                <p>{{ gift_transaction.early_claim_fee|intcomma }}</p>
                                <img src="{% static 'images/key.png' %}" alt="Coin image">
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% if gift_transaction.early_claim_fee > 0 and gift_transaction.gifter != request.user %}
                    <tr>
                        <td>Claimed Early</td>
                        {% if request.user in gift_transaction.paid_users.all %}
                        <td><img src="{% static 'images/check.png' %}" alt="player status image" width="20" height="20">
                        </td>
                        {% else %}
                        <td><img src="{% static 'images/x-button.png' %}" alt="player status image" width="20"
                                height="20"></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if gift_transaction.gifter == request.user %}
                    <tr>
                        <td>No of Claims</td>
                        <td>{{ gift_transaction.reveals.all|length|intcomma }}</td>
                    </tr>
                    {% endif %}
                    {% if gift_transaction.early_claim_fee > 0 and gift_transaction.gifter == request.user %}
                    <tr>
                        <td>No of Early Claims</td>
                        <td>{{ gift_transaction.paid_users.all|length|intcomma }}</td>
                    </tr>
                    {% endif %}
                    {% if gift_transaction.gifter == request.user %}
                    <tr>
                        <td>Winner Claimed</td>
                        {% if gift_transaction.is_claimed %}
                        <td><img src="{% static 'images/check.png' %}" alt="player status image" width="20" height="20">
                        </td>
                        {% else %}
                        <td><img src="{% static 'images/x-button.png' %}" alt="player status image" width="20"
                                height="20"></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if gift_transaction.gifter == request.user %}
                    <tr>
                        <td>Sent on</td>
                        <td>{{ gift_transaction.created_at.date }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        {% if gift_transaction.is_fastest_finger and gift_transaction.is_due_for_drop %}
        <div class="table-container">
            <h2>Top 5 Fastest Fingers</h2>
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Claimed In</th>
                    </tr>
                </thead>

                <tbody>
                    {% for claim in gift_transaction.ff_claims.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ claim.user.username }}</td>
                        <td>{{ claim.reaction_time_ms|format_seconds }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

