{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load timefilters %}

{% block title %}
<title>Claim Gift - Bixy</title>
<link rel="stylesheet" href="{% static 'css/reveal.css' %}">
<script src="https://checkout.flutterwave.com/v3.js"></script>
{% endblock %}


{% block body %}
<div class="reveal-container">
    <div class="heading">
        <p>Oops!</p>
        <h1>Too Early</h1>
    </div>
    {% if gift_transaction.is_visible %}
    <img src="{{ gift_transaction.gift.gif.url }}" alt="Gift image" style="margin: 2rem 0;">
    <h1>{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</h1>
    <p class="msg">This gift from {{ gift_transaction.gifter.username }} has not dropped yet and you cannot claim it.
    </p>
    {% else %}
    <img src="{% static 'images/search.gif' %}" alt="Gift image" style="margin: 2rem 0;">
    <h1>Gift Hidden</h1>
    <p class="msg">This gift from {{ gift_transaction.gifter.username }} has not dropped yet and you cannot claim it.</p>
    {% endif %}
    <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Try again"
        data-seconds="{{ gift_transaction.seconds_until_drop }}" style="margin-bottom: .5rem; color: #444; font-size: .95rem;">Try again in --:--:--:--
    </p>

    <a href="{% url 'reveal_gift' gift_transaction.id %}">
        <div class="cost">
            <p>Try again for {{ gift_transaction.claim_fee|intcomma }}</p>
            <img src="{% static 'images/key.png' %}" alt="Gift image">
        </div>
    </a>
    
    
    {% if gift_transaction.early_claim_fee > 0 and not gift_transaction.is_fastest_finger and not gift_transaction.is_due_for_drop and request.user not in gift_transaction.paid_users.all %}
    <a href="{% url 'reveal_early' gift_transaction.id %}" id="earlyButton">
        <div class="cost">
            <p>Claim now for {{ gift_transaction.early_claim_fee|intcomma }}</p>
            <img src="{% static 'images/key.png' %}" alt="Gift image">
        </div>
    </a>
    {% endif %}
    <a href="{% url 'view_gift_stats' gift_transaction.id %}">View Stats</a>
    <a href="{% url 'all_gifts' %}">Browse more gifts</a>
    
</div>
{% endblock %}

{% block other %}
<div id="coinModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="gift-info">
            <div class="gift-image">
                <img src="{% static 'images/key.gif' %}" alt="Gift image">
            </div>
            <h2>Not Enough Keys!</h2>
            <p style="text-align: center;  color: #444; font-size: .9rem;">You need <strong id="neededCoins"></strong>
                more keys to claim this gift early. Watch ads to get keys on Bixy.</p>

            <a href="" style="text-decoration: none; font-weight: bold; color: white; background-color: #667eea; border-radius: .4em; padding: .7em; font-size: .9em; margin-top: .5em;">
                Watch Ad
            </a>
        </div>
        <!-- <button onclick="document.getElementById('coinModal').style.display='none'">
                Okay
            </button> -->
    </div>
</div>

<canvas id="sparkleCanvas"></canvas>
{% endblock %}

{% block scripts %}
<script>
  let cost = "{{ gift_transaction.early_claim_fee }}";
  const userCoins = parseInt("{{ request.user.keys }}");  
</script>
<script src="{% static 'scripts/timer.js' %}"></script>
<script src="{% static 'scripts/sparkles.js' %}"></script>
<script src="{% static 'scripts/payearlyreveal.js' %}"></script>
<!-- 
<script>
    const nameValue = "{{ request.user.username }}";
    const emailValue = "{{ request.user.email }}";
</script>
<script src="{% static 'scripts/checkout.js' %}"></script> -->
{% endblock %}
