{% load static %}

<div class="coin-card-container">
    <div class="coin-card">
        <div class="coin-image">
            <img src="{% static 'images/key.png' %}" alt="Gift image">
        </div>
        <div class="coin-info">
            <p style="font-weight: bold; font-size: 1rem;">50 keys</p>
        </div>

        <button onclick="makePayment(500)">₦500</button>
    </div>
    <div class="coin-card">
        <div class="coin-image">
            <img src="{% static 'images/key.png' %}" alt="Gift image">
        </div>
        <div class="coin-info">
            <p style="font-weight: bold; font-size: 1rem;">100 keys</p>
        </div>

        <button onclick="makePayment(1000)">₦1,000</button>
    </div>
    <div class="coin-card">
        <div class="coin-image">
            <img src="{% static 'images/key.png' %}" alt="Gift image">
        </div>
        <div class="coin-info">
            <p style="font-weight: bold; font-size: 1rem;">250 keys</p>
        </div>

        <button onclick="makePayment(2500)">₦2,500</button>
    </div>
    <div class="coin-card">
        <div class="coin-image">
            <img src="{% static 'images/key.png' %}" alt="Gift image">
        </div>
        <div class="coin-info">
            <p style="font-weight: bold; font-size: 1rem;">500 keys</p>
        </div>

        <button onclick="makePayment(5000)">₦5,000</button>
    </div>
    <div class="coin-card">
        <div class="coin-image">
            <img src="{% static 'images/key.png' %}" alt="Gift image">
        </div>
        <div class="coin-info">
            <p style="font-weight: bold; font-size: 1rem;">1,000 keys</p>
        </div>

        <button onclick="makePayment(10000)">₦10,000</button>
    </div>
    <div class="coin-card">
        <div class="coin-image">
            <img src="{% static 'images/key.png' %}" alt="Gift image">
        </div>
        <div class="coin-info">
            <p style="font-weight: bold; font-size: 1rem;">2,500 keys</p>
        </div>

        <button onclick="makePayment(25000)">₦25,000</button>
    </div>
</div>