{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load timefilters %}

{% block title %}
<title>New Gifts - Bixy</title>
<link rel="stylesheet" href="{% static 'css/all_gifts.css' %}">
{% endblock %}


{% block body %}
<div class="success">
    <div class="gift-info">
        <div class="gift-image">
            <img src="{% static 'images/dollar.gif' %}" alt="Gift image">
        </div>
        <h2>Not Enough Coins!</h2>
        <p style="text-align: center;  color: #444; font-size: .9rem;">You need <strong>{{ rem_amount|intcomma }}</strong>
        more coins to {{ message }}.</p>
        
        {% include 'coin_tier.html' %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const nameValue = "{{ request.user.username }}";
    const emailValue = "{{ request.user.email }}";
</script>
<script src="{% static 'scripts/checkout.js' %}"></script>
{% endblock %}
