{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load timefilters %}

{% block title %}
<title>New Gifts - Bixy</title>
<link rel="stylesheet" href="{% static 'css/all_gifts.css' %}">
{% endblock %}


{% block body %}
<div class="heading">
    <h1>My Profile</h1>
    <p>Everything about yourself you need to know.</p>
</div>

<div class="profile-container">
    <div class="profile-img">
        <img src="{{ request.user.profile_pic.image.url }}" alt="Profile Picture">
    </div>
    <div class="profile-info">
        <h2>{{ request.user.username }}</h2>
        <p>{{ request.user.email }}</p>
        {% if request.user.is_pending_deletion %}
        <p>Your account is scheduled to be permanently deleted in {{ request.user.days_until_deactivation }} day{{ request.user.days_until_deactivation|pluralize }}.
            Click the "Cancel Deletion" button to cancel the deletion.
        </p>
        {% endif %}
        <div class="profile-links">
            <a href="{% url 'edit_profile' %}">Edit Profile</a>
            <a href="{% url 'change_password' %}">Change Password</a>
            {% if request.user.is_pending_deletion %}
            <a href="{% url 'cancel_deletion' %}" style="background-color: #28a745;">Cancel Deletion</a>
            {% else %}
            <a href="{% url 'delete_account' %}" style="background-color: red;">Delete Account</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="card-container">
    <div class="card prf">
        <div class="prf-image">
            <img src="{% static 'images/giftbox (1).png' %}" alt="Sent Gifts Image">
        </div>
        <h2>Sent Gifts</h2>
        <p>Gifts you sent to random players.</p>
        <div class="tags">
            <p class="tag">{{ sent|intcomma }} gift{{ sent|pluralize }}</p>
        </div>
        <a href="{% url 'sent_gifts' %}">View</a>
    </div>
    <div class="card prf">
        <div class="prf-image">
            <img src="{% static 'images/gift-box.png' %}" alt="Won Gifts Image">
        </div>
        <h2>Won Gifts</h2>
        <p>Gifts you revealed and won.</p>
        <div class="tags">
            <p class="tag">{{ won|intcomma }} gift{{ won|pluralize }}</p>
        </div>
        <a href="{% url 'won_gifts' %}">View</a>
    </div>
    <div class="card prf">
        <div class="prf-image">
            <img src="{% static 'images/empty-box.png' %}" alt="Lost Gifts Image">
        </div>
        <h2>Lost Gifts</h2>
        <p>Gifts you revealed but didn't win.</p>
        <div class="tags">
            <p class="tag">{{ lost|intcomma }} gift{{ lost|pluralize }}</p>
        </div>
        <a href="{% url 'lost_gifts' %}">View</a>
    </div>
    <div class="card prf">
        <div class="prf-image">
            <img src="{% static 'images/dollar.png' %}" alt="Coin Shop Image">
        </div>
        <h2>Coin Shop</h2>
        <p>Buy coins from the coin shop.</p>
        <div class="tags">
            <p class="tag">{{ request.user.coins|intcomma }} coin{{request.user.coins|pluralize }}</p>
        </div>
        <a href="{% url 'buy_coins' %}">Buy Coins</a>
    </div>
    <div class="card prf">
        <div class="prf-image">
            <img src="{% static 'images/wallet.png' %}" alt="Wallet Image">
        </div>
        <h2>Wallet</h2>
        <p>All your coins in one place.</p>
        <div class="tags">
            <p class="tag">{{ request.user.won_coins|intcomma }} coin{{request.user.won_coins|pluralize }}</p>
        </div>
        <a href="{% url 'wallet' %}">View</a>
    </div>
</div>
{% endblock %}

