{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load timefilters %}

{% block title %}
<title>Send Gift - Bixy</title>
<link rel="stylesheet" href="{% static 'css/all_gifts.css' %}">
{% endblock %}


{% block body %}
<div class="heading">
    <h1>Send Gift</h1>
    <p>Make a random person's day by sending them a gift.</p>
</div>
{% if gifts|length > 0 %}
<div class="card-container">
    {% for gift in gifts %}
    <div class="card">
        <div class="gift-image">
            <img src="{{ gift.image.url }}" alt="Gift image">
        </div>
        <div class="gift-info">
            <h1>{{ gift.name }}</h1>

            <div href="" class="cost">
                <p>{{ gift.cost|intcomma }}</p>
                <img src="{% static 'images/dollar.png' %}" alt="Gift image">
            </div>
        </div>

        <a href="{% url 'buy_gift' gift.id %}">Buy</a>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="empty">
    <img src="{% static 'images/empty-box.png' %}" alt="No content image">
    <h1>Oops! Nothing in here right now.</h1>
    <a href="{% url 'send_gift' %}">Refresh</a>
</div>
{% endif %}
{% endblock %}

