{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load timefilters %}

{% block title %}
<title>Sent Gifts - Bixy</title>
<link rel="stylesheet" href="{% static 'css/all_gifts.css' %}">
{% endblock %}


{% block body %}
<div class="heading">
    <h1>Sent Gifts</h1>
    <p>Gifts you sent on Bixy.</p>
</div>
{% if gift_transactions|length > 0 %}
<div class="card-container">
    {% for gift_transaction in gift_transactions %}
    <div class="card">
        <div class="gift-image">
            <img src="{{ gift_transaction.gift.image.url }}" alt="Gift image">
        </div>
        <div class="gift-info">
            <h1>{{ gift_transaction.quantity|intcomma }}x {{ gift_transaction.gift.name }}</h1>

            <div class="load">
                {% if gift_transaction.drop_rate > 0 %}
                {% if gift_transaction.is_due_for_drop %}
                <div class="bar" id="{{ gift_transaction.expire_bar_percent }}"></div>
                {% else %}
                <div class="bar" id="{{ gift_transaction.drop_bar_percent }}"></div>
                {% endif %}
                {% else %}
                <div class="bar" id="{{ gift_transaction.expire_bar_percent }}"></div>
                {% endif %}
            </div>

            {% if not gift_transaction.due_for_expire %}
            {% if gift_transaction.drop_rate > 0 %}
            {% if gift_transaction.is_due_for_drop %}
            <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Expires"
                data-seconds="{{ gift_transaction.seconds_until_expire }}">Expires in --:--:--:--</p>
            {% else %}
            <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Drops"
                data-seconds="{{ gift_transaction.seconds_until_drop }}">Drops in --:--:--:--</p>
            {% endif %}
            {% else %}
            <p class="timer" id="{{ gift_transaction.id }}" data-prefix="Expires"
                data-seconds="{{ gift_transaction.seconds_until_expire }}">Expires in --:--:--:--</p>
            {% endif %}
            {% else %}
            <p>Expired</p>
            {% endif %}

            <div class="tags">
                {% if gift_transaction.is_fastest_finger %}
                <p class="tag">Fastest Finger</p>
                {% endif %}

                {% if gift_transaction.early_claim_fee > 0 %}
                <p class="tag">Early Claim</p>
                {% endif %}
            </div>

        </div>

        <a href="{% url 'view_gift_stats' gift_transaction.id %}">View Stats</a>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="empty">
    <img src="{% static 'images/empty-box.png' %}" alt="No content image">
    <h1>Feels Empty Here.</h1>
    <a href="{% url 'sent_gifts' %}">Refresh</a>
</div>
{% endif %}
{% endblock %}

{% block other %}
<a href="{% url 'send_gift' %}" class="send">
    <img src="{% static 'images/giftbox (1).png' %}" alt="Send gift image">
    <p>Send Gift</p>
</a>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/timer.js' %}"></script>
{% endblock %}
