{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load timefilters %}

{% block title %}
<title>Delete Account - Bixy</title>
<link rel="stylesheet" href="{% static 'css/all_gifts.css' %}">
{% endblock %}


{% block body %}
<div class="success">
    <form class="signup-container" action="{% url 'delete_account' %}" method="post">
        {% csrf_token %}
        <div class="signup-form">
            <h2>Delete Account</h2>
            <p>Deleting your account will schedule your account for permanent deletion in 30 days. You can
                cancel
                the deletion anytime before the grace period of 30 days is reached.
            </p>
            <button type="submit" style="background-color: red;">Delete Account</button>
        </div>
        <div class="links">
            <p><a href="{% url 'profile' %}">Back to Profile</a></p>
        </div>
    </form>
</div>
{% endblock %}
