<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify email - Bixy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/verify.css' %}">
</head>

<body>
    <div class="signup-container">
        <form class="signup-form" action="{% url 'verify_email' user.id %}?next={{ next_url }}" method="post">
            {% if not user.is_verified %}
            <h2>Verify your email</h2>
            <p>Hi {{ user.username }}, your account email address ({{ user.email }}) has not been verified. Click the link in the email sent to {{ user.email }} after signup
                to verify it.
            </p>
            {% else %}
            <h2>Email verified</h2>
            <p>Hi {{ user.username }}, your account email address ({{ user.email }}) has been verified.
            </p>
            {% endif %}

            {% csrf_token %}

            {% if not user.is_verified %}
            <button type="submit" class="verify">I have clicked the link</button>
            {% endif %}
        </form>
        <div class="links">
            <p><a href="{% url 'signin' %}?next={{ next_url }}">Back to Login.</a></p>
        </div>

    </div>

    <script>
        const body = document.body;
        // const btn = document.getElementById('themebtn');

        // Load saved theme (if any)
        const theme = localStorage.getItem('theme');
        console.log(theme)
        if (!theme) {
            localStorage.setItem('theme', 'light')
        } else {
            if (theme === 'dark') {
                body.classList.add('dark-mode');
            } else {
                body.classList.remove('dark-mode');
            }
        }
        
        // // Toggle theme
        // btn.addEventListener('click', () => {
        //     body.classList.toggle('dark-mode')
        //     // Save preference
        //     const isDark = body.classList.contains('dark-mode');
        //     localStorage.setItem('theme', isDark ? 'dark' : 'light')
        // })

        
    </script>
</body>

</html>